<!DOCTYPE html>

{% load static xelprt_tags %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "/xelprt/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "/xelprt/css/bootstrap-theme.min.css" %}">
    <link rel="stylesheet" href="{% static "/xelprt/css/xelprt.css" %}">
    {% block head %}{% endblock %}
    <title>{% block title %}Xelprt Excel Import Tool{% endblock %}</title>
</head>
<body>
    <div class="container">
        <div class="page-header">{% block header %}<a href="/"><h1>Xelprt</h1></a>{% endblock %}</div>
        <h2>{{ import_type|titleize }}</h2>
        {% block main %}{% endblock %}
    </div>
</body>
</html>