{% extends "xelprt/base.html" %}
{% block main %}
    {% for sheet_summary in summary %}
        <div>
            <a class="btn btn-primary" href="/match_field_names/{{ import_type }}/sheet/{{ sheet_summary.index }}">
                {{sheet_summary.name}}
            </a>
            <br/><br/>
                <div class="table-responsive">
                <table class="table table-striped">
                {% for row in sheet_summary.summary %}<tr>
                    {% for cell in row %}<td>{{ cell.value }}</td>{% endfor %}
                </tr>{% endfor %}
                </table>
            </div>
        </div>
        <hr/>
    {% endfor %}
{% endblock %}