{% extends "xelprt/base.html" %}
{% load xelprt_tags %}
{% block main %}
    <div>
        {% for import_type in import_types %}
        <a class="btn btn-primary" href="{% url 'upload_spreadsheet' import_type %}">{{ import_type|titleize }}</a>
        {% endfor %}
    </div>
{% endblock %}