{% extends "xelprt/base.html" %}
{% block main %}
<h1>Import Success!</h1>
<a class="btn btn-primary" href="{% url 'choose_import' %}">Return Home</a>
<hr/>
<h2>Import results will be emailed to {{ email }}</h2>
{% endblock %}