{% extends "xelprt/base.html" %}
{% block main %}
<form action="/correct/{{import_type}}/sheet/{{sheet_index}}" method="post">
    {% csrf_token %}
    {% for correction in corrections %}
    <div><label>Field:</label> {{correction.field}}</div>
    <input type="hidden" name="field.{{forloop.counter}}" value="{{ correction.field }}" />
    <div><label>Given Value:</label> {{correction.bad_value}}</div>
    <input type="hidden" name="bad_value.{{forloop.counter}}" value="{{ correction.bad_value }}" />
    <label>Select Existing Value</label><select name="value_options.{{forloop.counter}}">
        {% for option in correction.options %}
        <option value="{{option.id}}">{{option.value}}</option>
        {% endfor %}
    </select>
    <label>Create New Object</label><input type="checkbox" name="add_new.{{forloop.counter}}" />
    <hr/>
    {% endfor %}
    <input type="submit" class="btn btn-primary" value="Make Corrections" />
    <br/><br/>
</form>
{% endblock %}