{% extends "xelprt/base.html" %}
{% block main %}

{% if sheet_index is None %}
<form action="{% url 'import_spreadsheet' import_type %}" method="post">
{% else %}
<form action="{% url 'import_spreadsheet' import_type sheet_index %}" method="post">
{% endif %}
    {% csrf_token %}
    <div class="table-responsive table-scroll">
        <table class="table table-striped">
            <tr>
            {% for column_header in column_headers %}
                <td>
                    <select name="column_{{ forloop.counter0 }}">
                        <option value="--">--</option>
                        {% for cm in column_mappings %}
                        <option value="{{ cm.field }}" {% if column_header == cm.column %}selected{% endif %}>
                            {{ cm.field }}
                        </option>
                        {% endfor %}
                    </select>
                </td>
            {% endfor %}

            <tr>{% for column_header in column_headers %}
            <td><strong>{{ column_header }}</strong></td>
            {% endfor %}</tr>


            </tr>
            {% for row in rows %}
            <tr>
                {% for column in row %}<td>{% firstof column.value column %}</td>{% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
    <input type="submit" class="btn btn-primary" value="Import" />
</form>
<br/><br/>
{% endblock %}