{% extends "xelprt/base.html" %}
{% block main %}
<form enctype="multipart/form-data" action="" method="post">
    {% csrf_token %}
    {{ form }}
    <br/>
    <input class="btn btn-primary" type="submit" value="Submit" />
</form>
{% endblock %}